<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="columns is-1">
                <div class="column is-one-quarter">
                    <rebrain-menu :chosen='pageName'></rebrain-menu>
                </div>
                <div class="column">
                    <div class="box">
                        <b-select v-model="currentClsId" placeholder="Класс">
                            <option v-for="cls in classes" :key="cls.id" :value="cls.id">{{ cls.number }}{{ cls.letter }}</option>
                        </b-select>
                    </div>
                    <rebrain-schedule
                        :teachers="getTeachers()"
                        :subjects="subjects"
                        :lessons="getLessons(currentClsId)"
                        :class_id="currentClsId"
                        @set-lesson="set_lesson($event)"
                    ></rebrain-schedule>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script src="https://unpkg.com/buefy/dist/components/button"></script>
    <script src="https://unpkg.com/buefy/dist/components/menu"></script>

    <script type="module" src="/js/views/schedule.js"></script>
</body>
</html>
