<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="columns is-1">
                <div class="column is-one-quarter">
                    <rebrain-menu :chosen='pageName'></rebrain-menu>
                </div>
                <div class="column">
	                <div class="box">
                        <b-select placeholder="Класс">
                            <option v-for="cls in classes" :key="cls.id">{{ cls.number }}{{ cls.letter }}</option>
                        </b-select>
                    </div>
                    <div class="box" v-for="title, weekday in weekdays">
                        <h2 class="subtitle">{{ title }}</h2>
                        <b-table :data="[0, 1, 2, 3, 4, 5]" striped hoverable>
                            <b-table-column field="id" label="#" v-slot="props">{{ times[props.row] }}</b-table-column>
                            <b-table-column field="subject" label="Предмет" v-slot="props">
                                <b-select placeholder="Предмет">
                                    <option v-for="subject in subjects" :key="subject.id">{{ subject.title }}</option>
                                </b-select>
                            </b-table-column>
                            <b-table-column field="teacher" label="Учитель" v-slot="props">
                                <b-select placeholder="Учитель">
                                    <option v-for="teacher in getTeachers()" :key="teacher.id">{{ teacher.fio }}</option>
                                </b-select>
                            </b-table-column>
                            <b-table-column label="Операции" v-slot="props">
                                <b-button label="Сохранить" type="is-primary" @click="update_lesson(props.row.id)"></b-button>
                            </b-table-column>
                        </b-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>
    <script src="https://unpkg.com/buefy/dist/components/button"></script>
    <script src="https://unpkg.com/buefy/dist/components/menu"></script>

    <script type="module" src="/js/views/schedule.js"></script>
</body>
</html>
